/* .page-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll_section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
}
.hero-section {
  margin-top: 100px;
  height: 90vh;
  scroll-snap-align: start;
}
.hero_bar {
  height: 10vh;
} */
