.page-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll_section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
.scoll_container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.page {
  height: 100vh;
  scroll-snap-align: start;
}
